<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.database.dao.IBusDAO.java">

    <!-- Mapeo del resultado a la clase Bus -->
    <resultMap id="BusResultMap" type="com.solvd.database.model.Bus">
        <id property="id" column="id"/>
        <result property="lineName" column="lineName"/>
    </resultMap>

    <!-- Consulta para obtener todos los buses -->
    <select id="getAllBuses" resultMap="BusResultMap">
        SELECT * FROM Buses
    </select>

    <!-- Consulta para obtener un bus por ID -->
    <select id="getBusById" parameterType="int" resultMap="BusResultMap">
        SELECT * FROM Buses WHERE id = #{id}
    </select>

    <!-- Consulta para insertar un nuevo bus -->
    <insert id="insertBus" parameterType="com.solvd.database.model.Bus">
        INSERT INTO Buses (id, lineName)
        VALUES (#{id}, #{lineName})
    </insert>

    <!-- Consulta para actualizar un bus -->
    <update id="updateBus" parameterType="com.solvd.database.model.Bus">
        UPDATE Buses
        SET lineName = #{lineName}
        WHERE id = #{id}
    </update>

    <!-- Consulta para eliminar un bus por ID -->
    <delete id="deleteBus" parameterType="int">
        DELETE FROM Buses WHERE id = #{id}
    </delete>
</mapper>
