<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.database.dao.IConnectionDAO.java">

    <!-- Result mapping for the Connection class -->
    <resultMap id="ConnectionResultMap" type="com.solvd.database.model.Connection">
        <id property="id" column="id"/>
        <result property="originStationId" column="id_origin_station"/>
        <result property="destinationStationId" column="id_destination_station"/>
    </resultMap>

    <!-- Select query to retrieve all connections -->
    <select id="getAllConnections" resultMap="ConnectionResultMap">
        SELECT * FROM Connections
    </select>

    <!-- Select query to retrieve a connection by ID -->
    <select id="getConnectionById" parameterType="int" resultMap="ConnectionResultMap">
        SELECT * FROM Connections WHERE id = #{id}
    </select>

    <!-- Insert query to add a new connection -->
    <insert id="insertConnection" parameterType="com.solvd.database.model.Connection">
        INSERT INTO Connections (id, id_origin_station, id_destination_station)
        VALUES (#{id}, #{originStationId}, #{destinationStationId})
    </insert>

    <!-- Update query to modify a connection -->
    <update id="updateConnection" parameterType="com.solvd.database.model.Connection">
        UPDATE Connections
        SET id_origin_station = #{originStationId},
        id_destination_station = #{destinationStationId}
        WHERE id = #{id}
    </update>

    <!-- Delete query to remove a connection by ID -->
    <delete id="deleteConnection" parameterType="int">
        DELETE FROM Connections WHERE id = #{id}
    </delete>
</mapper>
