<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.database.dao.IRouteDAO">

    <!-- Mapeo del resultado a la clase Routes -->
    <resultMap id="RoutesResultMap" type="com.solvd.database.model.Route">
        <id property="id" column="id"/>
        <result property="busId" column="bus_id"/>
        <result property="routeOrder" column="route_order"/>
        <result property="stationId" column="station_id"/>
    </resultMap>

    <!-- Consulta para obtener todas las rutas -->
    <select id="getAllRoutes" resultMap="RoutesResultMap">
        SELECT * FROM Routes
    </select>

    <!-- Consulta para obtener una ruta por ID -->
    <select id="getEntityById" parameterType="int" resultMap="RoutesResultMap">
        SELECT * FROM Routes WHERE id = #{id}
    </select>

    <!-- Consulta para insertar una nueva ruta -->
    <insert id="insertRoute" parameterType="com.solvd.database.model.Route">
        INSERT INTO Routes (bus_id, route_order, station_id)
        VALUES (#{busId}, #{routeOrder}, #{stationId})
    </insert>

    <!-- Consulta para actualizar una ruta -->
    <update id="updateRoute" parameterType="com.solvd.database.model.Route">
        UPDATE Routes
        SET bus_id = #{busId},
        route_order = #{routeOrder},
        station_id = #{stationId}
        WHERE id = #{id}
    </update>

    <!-- Consulta para eliminar una ruta por ID -->
    <delete id="deleteRoute" parameterType="int">
        DELETE FROM Routes WHERE id = #{id}
    </delete>
</mapper>