<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.database.dao.IStationDAO.java">

    <!-- Result mapping for the Station class -->
    <resultMap id="StationResultMap" type="com.solvd.database.model.Station">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="coordinateX" column="coordinateX"/>
        <result property="coordinateY" column="coordinateY"/>
    </resultMap>

    <!-- Select query to retrieve all stations -->
    <select id="getAllStations" resultMap="StationResultMap">
        SELECT * FROM Stations
    </select>

    <!-- Select query to retrieve a station by ID -->
    <select id="getStationById" parameterType="int" resultMap="StationResultMap">
        SELECT * FROM Stations WHERE id = #{id}
    </select>

    <!-- Insert query to add a new station -->
    <insert id="insertStation" parameterType="com.solvd.database.model.Station">
        INSERT INTO Stations (id, name, coordinateX, coordinateY)
        VALUES (#{id}, #{name}, #{coordinateX}, #{coordinateY})
    </insert>

    <!-- Update query to modify a station -->
    <update id="updateStation" parameterType="com.solvd.database.model.Station">
        UPDATE Stations
        SET name = #{name},
        coordinateX = #{coordinateX},
        coordinateY = #{coordinateY}
        WHERE id = #{id}
    </update>

    <!-- Delete query to remove a station by ID -->
    <delete id="deleteStation" parameterType="int">
        DELETE FROM Stations WHERE id = #{id}
    </delete>
</mapper>
